{% extends "home.html" %}

{% block content %}
<div class="container">
    <h2>Login Form</h2>
    {% for field, errors in form.errors.items() %}
    <span>{{ ', '.join(errors) }}</span>
    {% endfor %}
    <form class="form-horizontal" method="POST" action="">
        {{ form.csrf_token() }}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
</div>
{% endblock %}